@import url('https://fonts.googleapis.com/css2?family=Oi&family=Oswald:wght@200..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background-image: url("https://st.depositphotos.com/1813786/1604/v/450/depositphotos_16048063-stock-illustration-seamless-floral-background-with-flowers.jpg");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}


main {
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: goldenrod;
    padding: 20px 0;
    text-align: center;
}

header img {
    width: 100px;
}

header .logo h1 {
    font-size: 2.5em;
}


header nav {
    margin-top: 20px;
}

header nav a {
    color: goldenrod;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.3s;
    border-radius: 5px;
}

header nav a:hover {
    text-decoration: none;
    color: black;
    background-color: goldenrod;
}

section.intro, section.products, section.ornaments, section.form-section {
    padding: 40px 20px;
    text-align: center;
    font-size: 20px;
}

.text{
    text-align: center;
    font-size: 40px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 20px;
    justify-items: center; 
    align-items: center; 
}


.product, .ornament {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: 0.3s;
    margin-bottom: 20px;
}

.product:hover {
    background-color: goldenrod;
    scale: 1.1;
}

.product button {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background-color: red;
    border-radius: 5px;
    transition: 0.2s;
    width: 100px;
    height: 50px;
}

.product button:hover {
    background-color: blueviolet;
}

.product img, .ornament img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product h3, .ornament h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

.ornaments{
    display: flex;
    justify-content: space-around;
}

.ornament img{
    height: 150px;
}

.form-section label {
    display: block;
    margin: 10px 0 5px;
}

.form-section a{
    color: goldenrod;
}

.form-section input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-section button {
    width: 100%;
    padding: 12px;
    font-size: 1.2em;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-section button:hover {
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: goldenrod;
    text-align: center;
    padding: 15px 30px;
    position: relative;
    margin-top: auto;
}

footer .footer-text {
    text-align: center;
    flex-grow: 1;
}

footer img {
    width: 100px;
    height: auto;
}
